@media screen and (max-width: 767px) { 
    #mainIndex img{
        width: 250px;
        margin-top: 25px;
    }
    #bloque1{
        flex-direction:column;
    }
    header{
        width: 100%;
        position: fixed;
        top:0;
        justify-content: center;
    }
    main{
        margin-top: 50px;
    }
    header nav{
        display: none;
        position: fixed;
        background: #067e72;
        width: 100%;
        left: 0;
        top: 54px;
    }
    header nav ul{
        flex-direction: column;
    }
    header nav ul li{
        border-bottom: 1px solid white;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .menuButton{
        display: block;
    }
    #mainTrabajo section{
        flex-direction: column;
    }
    #mainTrabajo section img{
        width: 90%;
        margin: 10px auto;
    }
    #mainTrabajo p{
        font-size: 17pt;
    }
    #mainContacto p{
        font-size: 17pt;
    }
}
@media screen and (min-width: 768px) and (max-width: 979px) { 
    #mainIndex img{
        width: 250px;
        margin-top: 25px;
    }
    #bloque1{
        flex-direction:column;
    }
    #mainTrabajo section{
        flex-direction: column;
    }
    #mainTrabajo section img{
        width: 90%;
        margin: 10px auto;
    }
    #mainTrabajo p{
        font-size: 17pt;
    }
}